.navbarItem:not(:last-child) {
    margin-bottom: 4px;
}

.itemHref {
    padding: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.itemImg {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.itemspan {
    color: black;
    font-size: 18px;
}

.itemHref.active {
    background-color: #ECEFF2;
}